body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Estilos para a lista de carros */
.car-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.car {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    align-items: center;
}

img {
    max-width: 370px;
    max-height: 370px;
    display: flex;
    margin: 0 auto;
}

.car img {
    max-width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    /* Move 50% para a direita (horizontalmente) em relação ao contêiner */
    transform: translateX(-50%);
    /* Alinha ao centro horizontalmente */
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}